/* Comment   */
h1{
  color: white;

}
li{
  color:white;
}

h4{
  color: #FFFFFF;
}
body{
  /*background-color: skyblue;*/
  background: url(img.jpg);
  background-repeat: no-repeat;
}
 div{
  background-color: lightgray;
  border-color: black;
  border-width: 3px;
  border-style: dotted;
}
span{
  background: white;
  color: black;
}
.firstDiv{
  color: black;
}
.secondDiv{
  color: red
}
#sindledout{
  color: green;
  text-decoration: line-through;
}

h3 + ul{
  border: 4px dotted purple;
}
li a{
  color: orange;
}
li a[href="www.linkedin.com"]{
  color: lightgreen;
  border: 2px solid orange;
}
